<p [ngStyle]="{
'font-size': '2em',
color: myColor
}">ngStyle 1</p>

<p [ngStyle]="myStyle">ngStyle 2</p>

<hr>

<p ngClass="myClass">ngClass 1</p><!--string do not have [] ,[]have variable-->


<p [ngClass]="['myClass', 'myBigFontClass']">ngClass 2</p>

<p [ngClass]="{myClass: true, myBigFontClass: useBigFont}">ngClass 3</p>

<hr>

<div>
  <span *ngIf="person">{{ person.name }}</span>
  <button class="btn btn-primary" (click)="togglePerson()">Toggle person</button>
</div>

<ul>
  <app-listitem *ngFor="let p of persons" [person]="p"></app-listitem>
</ul>

<div [ngSwitch]="mySwitch">
  <p *ngSwitchDefault>Default</p>
  <p *ngSwitchCase="1">Value 1</p>
  <p *ngSwitchCase="2">Value 2</p>
</div>
<button class="btn btn-primary" (click)="switch(1)">1</button>
<button class="btn btn-primary" (click)="switch(2)">2</button>
