<div class="container">
  <div class="row">
    <h2>View Ecapsulation</h2>
  </div>
  <div class="row">
    <h3>Emulated (Default)</h3>
    <app-viewencapsulation-emulated></app-viewencapsulation-emulated>
  </div>
  <div class="row">
    <h3>Native</h3>
    <app-viewencapsulation-native></app-viewencapsulation-native>
  </div>
  <div class="row">
    <h3>None</h3>
    <app-viewencapsulation-none></app-viewencapsulation-none>
  </div>
  <div class="row">
    <p class="viewencapsulation-native viewencapsulation-emulated viewencapsulation-none">Contents in ViewencapsulationComponent</p>
  </div>
</div>
